$default-font: "roboto-lt", sans-serif;
$roboto-reg: "roboto-reg", sans-serif;
$roboto-md: "roboto-md", sans-serif;
$dosis-reg: "dosis-reg", sans-serif;
$dosis-md: "dosis-md", sans-serif;
$dosis-smd: "dosis-smd", sans-serif;
$dosis-bd: "dosis-bd", sans-serif;
$fontawesome: "fontawesome";
$accent: #47a9eb;