@import "reset";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline;
	}
}

h1 {
	font-size: 54px;
	color: #ffffff;
	font-family: $dosis-smd;
	text-transform: uppercase;
	line-height: 60px;
}
.h1-description {
	color: #ffffff;
	line-height: 24px;
}
.header-list {
	li {
		display: block;
		font-family: $roboto-reg;
		color: #ffffff;
		line-height: 24px;
		margin-bottom: 10px;
	}
}

.right-column {
	margin-top: 175px;
	.fa {
		margin-right: 20px;
	}
}

h2 {
	font-size: 36px;
	font-family: $dosis-md;
	color: #222222;
	text-align: center;
	margin-top: 120px;
}

h3 {
	font-size: 24px;
	font-family: $dosis-md;
	color: #222222;
}

img {
	width: 100%;
	height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

/* --------------- HEADER --------------- */
header {
	background-color: #222222;
	border-bottom: 5px solid #47a9eb;
	height: 53px;
	overflow: hidden;
}

.menu__link {
	color: #ffffff;
	padding: 19px 31px 13px;
	background-color: #333333;
	transition: all .2s ease;
	&:hover, &:active, &:focus {
		color: #ffffff;
		text-decoration: none;
		background-color: $accent;
	}
}

.nav {
	margin-top: 15px;
	margin-left: -15px;
	position: relative;
}

.nav-tabs {
	display: none;
	font-size: 30px;
	margin-top: -15px;
	margin-left: 15px;
	.fa {
		color: #666666;
	}
}

.dropdown-menu {
	padding: 0;
}

.menu-dropdawn__link {
	padding: 10px;
	color: #ffffff;
	background-color: #333333;
	border-bottom: 2px solid #222222;
}

.social {
	position: absolute;
	right: 0;
	&-link {
		color: #666666;
		transition: all .3s ease;
		font-size: 18px;
		padding: 0 6px;
		&:hover, &:active, &:focus {
			color: $accent;
			text-decoration: none;
		}
	}
}

.logo {
	margin-top: 30px;
	font-family: $dosis-bd;
	line-height: 24px;
	margin-bottom: 30px;
	&__link {
		font-size: 36px;
		color: #222222;
		&:hover {
			text-decoration: none;
			color: #222222;
		}
	}
	&_img {
		width: 48px;
		height: 40px;
		vertical-align: baseline;
		margin-right: 5px;
	}
}

.contact-info {
	margin-top: 50px;
	color: #777777;
	font-size: 14px;
	text-align: right;
	.fa {
		color: $accent;
		margin-right: 10px;
	}
	&__phone {
		margin-right: 40px;
		display: inline-block;
	}
	&__email {
		margin-right: -15px;
		display: inline-block;
	}
}

/* --------------- LANDING --------------- */
.landing-content {
	background: linear-gradient(#00eeea, #4aa8eb);
	min-height: 820px;
	background-size: cover;
}

.left-column {
	margin: 130px auto 50px;
	max-width: 390px;
}

.img-wrap {
	position: relative;
	display: block;
	&:after {
		content: '';
		display: inline-block;
		position: relative;
		left: -10%;
		width: 300px;
		box-shadow: 0 30px 40px 5px rgba(0, 0, 0, .4);
		transform: skew(50deg);
		transform-origin: 0 100%;
	}
}

.button-header {
	display: inline-block;
	padding: 8px 39px;
	background-color: #ffffff;
	margin-top: 35px;
	border-radius: 30px;
	color: #222222;
	font-family: $roboto-md;
	transition: all .5s ease;
	border: 5px solid #2faad3;
	margin-bottom: 30px;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: #222222;
		opacity: .85;
	}
}

/* --------------- FEATURES --------------- */
.top-feature {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 20px;
}

.section-header {
	margin-top: 120px;
}

.section-description {
	text-align: center;
	width: 660px;
	margin: 0 auto 83px;
	color: #777777;
}

.item-feature {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 62px;
	&_header {
		margin-bottom: 5px;
		margin-top: -10px;
	}
	&_text {
		color: #777777;
	}
}
.icon-wrap {
	width: 75px;
	height: 75px;
	background-color: #f7fafc;
	border-radius: 10em;
	position: relative;
	vertical-align: middle;
	margin-bottom: 10px;
	.fa {
		font-size:24px;
		position: absolute;
		left: 50%;
		top: 25px;
		transform: translate(-50%);
	}
}

.bottom-feature {
	position: relative;
	&_header {
		margin-top: 200px;
	}
	&_text2 {
		margin-top: 80px;
	}
	&_list {
		margin-top: 40px;
		margin-bottom: 200px;
		li {
			display: block;
			font-family: $roboto-reg;
			color: #777777;
			line-height: 24px;
			margin-bottom: 10px;
			.fa {
				margin-right: 21px;
				color: #222222;
			}
		}
	}
}

.feature-img {
	position: absolute;
	top: 120px;
	height: 536px;
	width: 883px;
	left: 0;
}

/* --------------- SCREENSHOTS --------------- */
#screenshots {
	background-color: #f7fafc;
	padding-bottom: 90px;
}

.slider-screenshots {
	margin: 20px;
	padding: 20px;
}

.slide {
	&-img-wrap {
		width: 263px;
		height: 180px;
		margin: 0 auto;
	}
}
.slick-next {
	width: 40px;
	height: 40px;
	margin-right: -5%;
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	transition: all .5s ease;
	&:hover {
		background-color: #41b1eb;
		box-shadow: 0 0 0 3px #dee1e2;
		&:before {
			color: #ffffff;
		}
	}
	&:before {
		content: '\f178';
		color: #777777;
		font-family: $fontawesome;
		font-size: 14px;
	}
}

.slick-prev {
	 margin-left: -5%;
	 width: 40px;
	 height: 40px;
	 background-color: #ffffff;
	 border-radius: 50%;
	 border: 1px solid #eeeeee;
	 transition: all .5s ease;
	 &:hover {
		 background-color: #41b1eb;
		 box-shadow: 0 0 0 3px #dee1e2;
		 &:before {
			 color: #ffffff;
		 }
	 }
	 &:before {
		 content: '\f177';
		 color: #777777;
		 font-family: $fontawesome;
		 font-size: 14px;
	 }
}
@import "media"; // Always at the end
